<html ng-app="meanBoard">
<head>
	<title>Mean Board</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="stylesheets/style.css" rel="stylesheet">
</head>
<body>
	<div>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigationbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand">Mean Board</a>
				</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"  id="navigationbar">
					<ul class="nav navbar-nav">
						<li>
							<a href="/#/home">
								Home
							</a>
						</li>
						<li>
							<a href="/#/category">
								Board
							</a>
						</li>
					</ul>
				<ul class="nav navbar-nav navbar-right">
					<div class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" ng-model="defaultSearch" class="form-control" placeholder="Search">
						</div>
					</div>
					<li class="dropdown">
						<a class="dropdown-toggle" style="cursor:pointer;" data-toggle="dropdown" role="button" aria-expanded="false">Login <span class="caret"></span></a>
						<ul class="dropdown-menu" style="width:300px;" role="menu">
							<li role="presentation" class="dropdown-header">Login</li>
							<li>
								<div style="padding: 3px 20px; clear: both; font-weight: 400; line-height:1.42857143; color:#333; white-space:nowrap;">
									<form>
										<div class="form-group">
											<input 
												type="text" 
												class="form-control"
												placeholder="Username"
											/>
										</div>
										<div class="form-group">
											<input 
												type="text" 
												class="form-control"
												placeholder="Password"
											/>
											<input id="checkboxKeepMeLoggedIn" type="checkbox" />
											<label for="checkboxKeepMeLoggedIn">
												Keep me logged in
											</label>
										</div>
										<div class="form-group">
											<button 
												type="submit" 
												class="btn btn-success" 
												style="width:100%;">Login
											</button>
										</div>
									</form>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a 
									style="text-align:center; cursor:pointer;"
									data-toggle="modal" 
									data-target="#modalWindowRegister"
								>
									Register
								</a>
							</li>
						</ul>
					</li>
				</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</div>
	<div ng-controller="RegisterCtrl" class="modal fade" id="modalWindowRegister" tabindex="-1" role="dialog" aria-labelledby="modalWindowLabelImport" aria-hidden="true">
		<div class="modal-dialog" style="margin: 20% auto;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="modalWindowLabelImport">Create a new account!</h4>
				</div>
				<div class="modal-body">
					<form ng-submit="createUser()">
						<div class="form-group">
							<input 
								type="text"
								class="form-control"
								placeholder="First Name"
								ng-model="user.firstName">
							</input>
						</div>
						<div class="form-group">
							<input 
								type="text"
								class="form-control"
								placeholder="Last Name"
								ng-model="user.lastName">
							</input>
						</div>
						<div class="form-group">
							<input 
								type="text"
								class="form-control"
								placeholder="Username"
								ng-model="user.userName">
							</input>
						</div>
						<div class="form-group">
							<input 
								type="text"
								class="form-control"
								placeholder="Email Address"
								ng-model="user.email">
							</input>
						</div>
						<div class="form-group">
							<input 
								type="text"
								class="form-control"
								placeholder="Password"
								ng-model="user.password">
							</input>
						</div>
						<div class="form-group">
							<input 
								type="text"
								class="form-control"
								placeholder="Repeat Password">
							</input>
						</div>
						<!---Footer--->
						<div class="modal-footer">
							<button 
								type="button" 
								class="btn btn-default"
								style="width:150px;"
								data-dismiss="modal">Cancel
							</button>	
							<button 
								type="submit" 
								class="btn btn-success"
								style="width:150px;"
								>Register me now!
							</button>
						</div>
						<!---Footer End--->
					</form>
				</div>
			</div>
		</div>
	</div>
	
	
	
	<div ng-view></div>
	<!-- Always! load js right before the closing body tag -->
	<!-- saves time rendering the page -->
	<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.3.15/angular-route.js"></script>
	<script src="./javascripts/meanBoard.js"></script>
</body>
</html>
