body{
	background-color:#818181
}

.line-seperator{
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid rgb(221, 221, 221);
}

.pre-wrap{
	white-space: pre-wrap;
}

.hide-overflow{
	overflow:hidden;
}

.float.right{
	float:right;
}

.float.left{
	float:left;
}
.pointer{
	cursor:pointer;
}

.category-header{
	padding: 10px 15px;
	background-color:lightgray;
}

.category-subcategory{
	position: relative;
	display:block;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	padding: 10px 15px;
	margin-bottom:0px;
	background-color:#fff;
	border:1px solid #ddd;
}

.category-simple{
	position: relative;
	display:block;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	padding: 10px 15px;
	margin-bottom:0px;
	background-color:#fff;
	border:1px solid #ddd;
}

.inner-category-head{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

.div-right{
	position:absolute;
	right:10px;
	bottom:0px;
	margin-bottom:10px;
}

.input-margin{
	margin-bottom: 10px;
}

.ucp-personal-information{
	width: 69%;
	display: inline-block;
	vertical-align: top;
}

.ucp-short-information{
	width: 30%;
	display: inline-block;
	vertical-align: top;
}
