<!-- Thread Section in categories -->
<div ng-show="category.threads.length > 0"  class="panel panel-primary">
  <div class="panel-heading">
    {{category.title}} - Threads
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li ng-repeat="thread in category.threads" class="list-group-item hide-overflow">
        <div class="thread-body">
          <div class="pull-left thread-title">
            <a href="/#/board/category/view-thread?categoryId={{category._id}}&threadId={{thread._id}}">
              <img src="/images/placeholder.png" class="img-rounded" style="width: 40px; height: 40px;">
            </a>
            <a ui-sref="view-thread({'categoryId' : category._id, 'threadId' : thread._id})">{{thread.title}}</a>
          </div>
          <div class="pull-right thread-post-view-info" style="width:40%;">
            <div class="pull-left">
              <span class="badge">{{thread.posts.length}}</span>&nbsp;{{thread.posts.length == 1 ? 'Post' : 'Posts'}}<br />
              <span class="badge">{{thread.posts.length}}</span>&nbsp;{{thread.posts.length == 1 ? 'View' : 'Views'}}
            </div>
            <div class="pull-right">
              <span>
                Last post by <a href="/#/user/{{thread.lastPost.createdBy._id}}">{{thread.lastPost.createdBy.userName}}</a><br/>
                {{thread.lastPost.createdAt | date:"dd.MM.yyyy',' hh:mm"}}&nbsp;
                <a ui-sref="view-post({'postId' : thread.lastPost._id})">
                  <span title="Jump to last post in thread &#34;{{thread.title}}&#34;" class="glyphicon glyphicon-arrow-right"></span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="pull-right" style="margin-bottom:20px;">
  <a
    ng-hide="isAuthUserNull();"
    ui-sref="create-thread({'categoryId' : category._id})"
    class="btn btn-primary"
    role="button">
    <span
      class="glyphicon glyphicon-plus"
      aria-hidden="true">
    </span>
    &nbsp;Create a new thread
  </a>
</div>
