<div class="col-md-8 col-md-offset-2">
	<div class="container">
		<ol class="breadcrumb" style="background-color: rgb(35, 28, 42);">
			<li><a href="/#/home">Home</a></li>
			<li class="active">Board</li>
		</ol>

		<div ng-repeat="category in category | orderBy : 'title'" class="panel panel-primary">
			<div class="panel-heading">
				{{category.title}}
			</div>
			<div class="panel-body">
				<div ng-hide="category.categories.length" ng-repeat="category in category.categories | orderBy : 'title'"  class="container-fluid category-simple">
					<img src="/images/placeholder.png" class="img-rounded" alt="an image" style="width:50px; height:50px;" />
					<a href="/#">
						{{category.title}}
					</a>
				</div>

				<div ng-show="category.categories.length" ng-repeat="category in category.categories | orderBy: 'title'" class="panel panel-primary"  style="margin-top:5px; margin-bottom:0px;">
					<div class="panel-heading">
						<h3 class="panel-title">{{category.title}}</h3>
					</div>
					<div>
						<div ng-repeat="category in category.categories | orderBy : 'title'" class="container-fluid category-subcategory" style="padding:10px 15px;">
							<img src="/images/placeholder.png" class="img-rounded" alt="an image" style="width:50px; height:50px;" />
							<a href="#">
								{{category.title}}
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div style="float:right;">
			<button
				type="button"
				class="btn btn-primary"
				data-toggle="modal"
				data-target="#modalWindowAddMainCategory"
				><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				&nbsp;Add a new Category
			</button>
		</div>
	</div>
</div>
<div class="modal fade" id="modalWindowAddMainCategory" tabindex="-1" role="dialog" aria-labelledby="modalWindowLabelImport" aria-hidden="true">
	<div class="modal-dialog" style="margin: 20% auto;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modalWindowLabelImport">Create a new category!</h4>
			</div>
			<div class="modal-body">
				<form ng-submit="createCategory()">
					<div ng-show="category.length" class="form-group">
						<label for="selectCategory">Parent Category</label>
						<select
							id="selectCategory"
							class="form-control"
							ng-model="newCategory.parent"
							ng-options="category as category.title for category in category | orderBy : 'title'">
							<option value=""></option>
						</select>
					</div>
					<div ng-show="newCategory.parent.categories.length" class="form-group">
						<label for="selectSubCategory">Sub Category</label>
						<select
							id="selectSubCategory"
							class="form-control"
							ng-model="subParent"
							ng-options="category as category.title for category in newCategory.parent.categories | orderBy : 'title'">
							<option value=""></option>
						</select>
					</div>
					<label for="textFieldCategoryTitle">Category Title</label>
					<div class="form-group">
						<input
							id="textFieldCategoryTitle"
							type="text"
							class="form-control"
							placeholder="Category Title"
							ng-model="newCategory.title">
						</input>
					</div>
					<!---Footer--->
					<div class="modal-footer">
						<div class="btn-group btn-group-justified float right" style="width:30%;">
							<div class="btn-group" role="group">
								<button
									type="button"
									class="btn btn-default"
									data-dismiss="modal">Cancel
								</button>
							</div>
							<div class="btn-group" role="group">
								<button
									type="submit"
									class="btn btn-success"
									>Create
								</button>
							</div>
						</div>
					</div>
					<!---Footer End--->
				</form>
			</div>
		</div>
	</div>
</div>
