<div class="col-md-8 col-md-offset-2">
	<div ng-hide="categories.length">
		<h4>NO FUCKING CATEGORIES</h4>
	</div>
	<div ng-repeat="category in categories | orderBy : category.title" class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{category.title}}</h3>
		</div>
		<div class="panel-body">
			Sub Categories
		</div>
	</div>
	<div style="float:right;">
		<button 
			type="button" 
			class="btn btn-primary"
			data-toggle="modal" 
			data-target="#modalWindowAddMainCategory"
			>Create a new Category
		</button>		
	</div>
	<div class="modal fade" id="modalWindowAddMainCategory" tabindex="-1" role="dialog" aria-labelledby="modalWindowLabelImport" aria-hidden="true">
		<div class="modal-dialog" style="margin: 20% auto;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="modalWindowLabelImport">Create a new category!</h4>
				</div>
				<div class="modal-body">
					<form ng-submit="createMainCategory()">
						<div class="form-group">
							<input 
								type="text"
								class="form-control"
								placeholder="Category Title"
								ng-model="title">
							</input>
						</div>
						<!---Footer--->
						<div class="modal-footer">
							<button 
								type="button" 
								class="btn btn-default"
								style="width:150px;"
								data-dismiss="modal">Cancel
							</button>	
							<button 
								type="submit" 
								class="btn btn-success"
								style="width:150px;"
								>Create Category!
							</button>
						</div>
						<!---Footer End--->
					</form>
				</div>
			</div>
		</div>
	</div>
</div>