<div class="container-fluid">
  <ol class="breadcrumb">
    <li><a href="/#/home">Home</a></li>
    <li><a href="/#/board">Board</a></li>
    <li ng-hide="category.parent.parent == null"><a href="/#/board/category?categoryId={{category.parent.parent._id}}">{{ category.parent.parent.title}}</a></li>
    <li ng-hide="category.parent == null"><a href="/#/board/category?categoryId={{category.parent._id}}">{{category.parent.title}}</a></li>
    <li><a href="/#/board/category?categoryId={{category._id}}">{{category.title}}</a></li>
    <li><a href="/#/board/category/view-thread?categoryId={{category._id}}&threadId={{thread._id}}">{{thread.title}}</a></li>
    <li class="active">View single post</li>
  </ol>

  <div class="panel panel-primary">
    <div class="panel-heading">
      View Post by "{{post.createdBy.userName}}" in thread "{{thread.title}}"
    </div>
    <div class="panel-body">
      <div class="list-group">
        <div class="post-list-item">
          <div>
            <div class="hide-overflow">
              <div class="post-user-body">
                <a href="/#/user/{{post.createdBy._id}}" class="post-user-img"><img src="/images/placeholder.png" class="img-rounded pull-left" style="width: 40px; height: 40px;"></a>
                <div class="post-user-info">
                  <div class="pull-left">
                    <a href="/#/user/{{post.createdBy._id}}">{{post.createdBy.userName}}</a><br />
                    {{getUserRoleOutput(post.createdBy.role)}}
                  </div>
                  <div class="pull-right post-user-add-info">
                    Registered since:&nbsp;{{post.createdBy.createdAt | date : "dd.MM.yyyy" }}&nbsp;<br />
                    Postcount:&nbsp;<span class="badge">X</span> Posts&nbsp;
                  </div>
                </div>
              </div>
            </div>
            <!-- Simple View -->
              <div ng-hide="editPost == post" class="post-body no-border">
                <!-- Post-Body -->
                <div class="post-content">
                  <span ng-show="!isPostDeleted(post.deletedAt);" class="pre-wrap">{{post.body}}</span>
                  <!-- When post has been updated -->
                  <span ng-show="isPostUpdated(post.updatedAt) && !isPostDeleted(post.deletedAt);" class="italic-small">
                    <br /><br />Last updated by <a href="/#/user/{{post.createdBy._id}}">{{post.updatedBy.userName}}</a>
                    on {{post.updatedAt | date:"dd.MM.yyyy 'at' h:mma"}}.
                    <span ng-hide="post.updateReason == null">&nbsp;Reason: {{post.updateReason}}</span>
                  </span>
                  <!-- When post has been deleted -->
                  <span ng-show="isPostDeleted(post.deletedAt);" class="italic-small">
                    This post has been deleted by <a href="/#/user/{{post.createdBy._id}}">{{post.updatedBy.userName}}</a> on {{post.deletedAt | date:"dd.MM.yyyy 'at' h:mma"}}.
                    <span ng-hide="post.updateReason == null">&nbsp;Reason: {{post.updateReason}}</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
