<div class="container-fluid">
  <ol class="breadcrumb">
    <li><a href="/#/home">Home</a></li>
    <li><a href="/#/board">Board</a></li>
    <li ng-hide="category.parent.parent == null"><a href="/#/board/category?categoryId={{category.parent.parent._id}}">{{ category.parent.parent.title}}</a></li>
    <li ng-hide="category.parent == null"><a href="/#/board/category?categoryId={{category.parent._id}}">{{category.parent.title}}</a></li>
    <li><a href="/#/board/category?categoryId={{category._id}}">{{category.title}}</a></li>
    <li class="active">{{thread == null ? "Create a new Thread" : thread.title}}</li>
  </ol>
</div>
