<div class="col-md-8 col-md-offset-2">
  <ol class="breadcrumb">
    <li><a href="/#/home">Home</a></li>
    <li><a href="/#/board">Board</a></li>
    <li><a href="/#/board/{{category.parent.parent._id}}">{{ category.parent.parent.title}}</a></li>
    <li><a href="/#/board/{{category.parent._id}}">{{category.parent.title}}</a></li>
    <li><a href="/#/board/{{category._id}}">{{category.title}}</a></li>
    <li ng-show="thread == null" class="active">Create new Thread</li>
    <li ng-show="thread != null" class="active">{{thread.title}}</li>
  </ol>
  <!-- VIEW FOR CREATING THREADS -->
  <div ng-show="thread == null"class="panel panel-primary">
    <div class="panel-heading">
      New Thread
    </div>
    <div class="panel-body">
      <div class="container-fluid">
        <form ng-submit="createThread()">
          <input type="hidden" ng-model="newPost.createdBy" ng-init="newPost.createdBy=authUser.userName" ng-value="authUser.userName"/>
          <div class="form-group">
            <input
              ng-model="newThread.title"
              type="text"
              class="form-control"
              placeholder="Thread Title"
             />
          </div>
          <div class="form-group">
            <textarea
              class="form-control"
              style="resize:vertical;"
              rows="10"
              placeholder="Starting Post"
              ng-model="newPost.body"></textarea>
          </div>
          <div class="container-fluid float right">
            <button
              type="submit"
              class="btn btn-success"
            ><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Create Thread</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
