<ol class="breadcrumb">
  <li><a href="/#/home">Home</a></li>
  <li><a href="/#/board">Board</a></li>
  <li ng-hide="category.parent.parent == null"><a href="/#/board/category?categoryId={{category.parent.parent._id}}">{{ category.parent.parent.title}}</a></li>
  <li ng-hide="category.parent == null"><a href="/#/board/category?categoryId={{category.parent._id}}">{{category.parent.title}}</a></li>
  <li><a href="/#/board/category?categoryId={{category._id}}">{{category.title}}</a></li>
  <li class="active">{{thread == null ? "Create a new Thread" : thread.title}}</li>
</ol>

<!-- VIEW FOR CREATING THREADS -->
<div class="panel panel-primary">
  <div class="panel-heading">
    New Thread
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <form ng-submit="createThread()">
        <input type="hidden" ng-model="newPost.createdBy" ng-init="newPost.createdBy=authUser" ng-value="authUser"/>
        <div class="form-group">
          <input
            ng-model="newThread.title"
            type="text"
            class="form-control"
            placeholder="Thread Title"
            required="true" />
        </div>
        <div class="form-group">
          <textarea
            class="form-control"
            style="resize:vertical;"
            rows="10"
            placeholder="Starting Post"
            ng-model="newPost.body"
            required="true"></textarea>
        </div>
        <div class="btn-group btn-group-justified pull-right" style="width:30%;">
          <div class="btn-group" role="group">
            <button
              type="button"
              class="btn btn-default"
              data-dismiss="modal">Cancel
            </button>
          </div>
          <div class="btn-group" role="group">
            <button
              type="submit"
              class="btn btn-success"
              ><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Create
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
