<ol class="breadcrumb">
  <li><a href="/#/home">Home</a></li>
  <li><a href="/#/board">Board</a></li>
  <li ng-hide="category.parent.parent == null"><a href="/#/board/category?categoryId={{category.parent.parent._id}}">{{ category.parent.parent.title}}</a></li>
  <li ng-hide="category.parent == null"><a href="/#/board/category?categoryId={{category.parent._id}}">{{category.parent.title}}</a></li>
  <li><a href="/#/board/category?categoryId={{category._id}}">{{category.title}}</a></li>
  <li class="active">{{thread == null ? "Create a new Thread" : thread.title}}</li>
</ol>

<!-- VIEW FOR EXISTING THREADS -->
<div class="panel panel-primary">
  <div class="panel-heading">
    {{thread.title}}
  </div>
  <!-- Panelbody Start -->
  <div class="panel-body">
    <div class="list-group">
      <!-- Iterate through all posts in this thread -->
      <div ng-repeat="post in thread.posts" class="post-list-item">
        <div>
          <div class="hide-overflow">
            <div class="post-user-body">
              <a href="/#/user/{{post.createdBy._id}}" class="post-user-img"><img src="/images/placeholder.png" class="img-rounded pull-left" style="width: 40px; height: 40px;"></a>
              <div class="post-user-info">
                <a href="/#/user/{{post.createdBy._id}}">{{post.createdBy.userName}}</a><br />
                User role
              </div>
            </div>
          </div>
          <!-- Simple View -->
          <div
            ng-hide="editPost == post"
            class="post-body no-border">
            <!-- Post-Body -->
            <div class="post-content">
              <span ng-show="!isPostDeleted(post.deletedAt);" class="pre-wrap">{{post.body}}</span>
              <!-- When post has been updated -->
              <span ng-show="isPostUpdated(post.updatedAt);" class="italic-small">
                <br /><br />Last updated by <a href="/#/user/{{post.createdBy._id}}">{{post.updatedBy.userName}}</a>
                at {{post.updatedAt | date:"dd.MM.yyyy 'at' h:mma"}}. Reason:<br />
                {{post}}
              </span>
              <!-- When post has been deleted -->
              <span ng-show="isPostDeleted(post.deletedAt);" class="italic-small">
                This post has been deleted by {{post.updatedBy.userName}} at {{post.deletedAt}}
              </span>
            </div>
          </div>
          <!-- Updating Post View -->
          <div ng-show="editPost == post" class="post-body">
            <div class="post-edit-view">
              <form ng-submit="updatePost(editPost)">
                <label>Post Body</label>
                <div class="form-group">
                  <textarea
                    class="form-control"
                    style="resize:vertical;"
                    rows="10"
                    ng-init="editPost.body"
                    ng-model="editPost.body"
                    required="true"></textarea>
                </div>
                <div class="form-group">
                  <label>Reason for update</label>
                  <input
                    type="text"
                    class="form-control"
                    ng-model="editPost.updateReason">
                  </input>
                </div>
                <div class="container-fluid" align="right">
                  <button
                    type="button"
                    ng-click="enableEditation(null)"
                    class="btn btn-default"
                  >Cancel</button>
                  <button
                    type="submit"
                    class="btn btn-success"
                  ><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Update Post</button>
                </div>
              </form>
            </div>
          </div>
          <!-- Post Actions -->
          <div ng-show="!isPostDeleted(post.deletedAt);" class="post-action-body hide-overflow">
            <div class="post-action">
                <div class="pull-left">
                  <span
                    ng-hide="isAuthUserNull();"
                    title="upvote post"
                    class="glyphicon glyphicon-thumbs-up glyphicon-large pull-left pointer">
                  </span>&nbsp;X Upvotes
                </div>
                <div class="pull-right">
                  <span
                    ng-hide="isAuthUserNull();"
                    ng-click="enableEditation(post);"
                    title="edit post"
                    class="glyphicon glyphicon-pencil glyphicon-large pointer">
                  </span>&nbsp;
                  <span
                    ng-click="openPostState(post._id);"
                    title="view single post"
                    class="glyphicon glyphicon-eye-open glyphicon-large pointer">
                  </span>&nbsp;
                  <span
                    ng-hide="isAuthUserNull() || $first;"
                    ng-click="deletePost(post);"
                    title="delete post"
                    class="glyphicon glyphicon-remove glyphicon-large pointer">
                  </span>
                </div>
            </div>
            <!--
            ng-show="post.createdBy._id == authUser._id || authUser.role == 'admin' || authUser.role == 'moderator'"
            ng-show="!$first && (post.createdBy._id == authUser._id || authUser.role == 'admin' || authUser.role == 'moderator')"

            <div class="dropdown pull-right overflow-visible;">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                Post actions
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                <li
                  ng-show="post.createdBy._id == authUser._id || authUser.role == 'admin' || authUser.role == 'moderator'"
                  ng-click="enableEditation(true, post._id);"
                  class="pointer"
                  role="presentation">
                  <a role="menuitem" tabindex="-1" >Update Post</a>
                </li>
                <li

                  ng-click="deletePost(post);"
                  class="pointer"
                  role="presentation">
                  <a role="menuitem" tabindex="-1" >Delete Post</a>
                </li>
                <li
                  class="pointer"
                  ng-click="quotePost(post);"

                  role="presentation">
                  <a role="menuitem" tabindex="-1" >Quote</a>
                </li>
                <li>
                  <a href="/#/board/category/thread/post?postId={{post._id}}" target="_blank">
                    View single post
                  </a>
                </li>
              </ul>
            </div>
            -->
          </div>
        </div>
      </div>
    </div>
  <!-- Panelbody End -->
  </div>
</div>



<!-- Create a new Post in existing Threads -->
<div ng-hide="isAuthUserNull()" class="panel panel-primary">
  <div class="panel-heading">
    Create a post
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <form ng-submit="createPost();">
        <div class="form-group">
          <textarea
            class="form-control"
            style="resize:vertical;"
            rows="5"
            placeholder="Post message"
            ng-model="newPost.body"
            required="true"></textarea>
        </div>
        <div align="right" class="container-fluidt">
          <button
            type="submit"
            class="btn btn-success"
          ><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Create Post</button>
        </div>
      </form>
    </div>
  </div>
</div>
