<!-- view for listing messages of the user -->
<!--
quick overview about current site and navigation
-->
<ol class="breadcrumb">
  <li><a href="/#/home">Home</a></li>
  <li class="active">Inbox</li>
</ol>

<!--
main panel
-->
<div class="panel panel-primary">
  <div class="panel-heading">
    Inbox
  </div>
  <div class="panel-body">
    <!-- select field for changing order of the message list -->
    <div class="hide-overflow">
      <div class="pull-right">
        <label>Order by</label>
        <select ng-model="orderBy" class="form-control input-margin">
          <option value="-createdAt">Created at</option>
          <option value="isRead">Is Read</option>
          <option value="from.userName">Sender</option>
          <option value="subject">Subject</option>
        </select>
      </div>
    </div>
    <!-- table with list of the messages -->
    <table class="table">
      <thead>
        <tr>
          <th>subject</th>
          <th>from</th>
          <th>received at</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="message in messages | orderBy: orderBy">
          <td>
            <a ng-show="message.isRead" href="/#/message/{{message._id}}">{{message.subject}}</a>
            <a ng-hide="message.isRead" href="/#/message/{{message._id}}"><strong>{{message.subject}}</strong></a>
          </td>
          <td>{{message.from.userName}}</td>
          <td>{{message.createdAt | date:"dd.MM.yyyy"}}</td>
          <td>
            <span ng-hide="message.isRead" class="badge">Unread</span>
            <span class="glyphicon glyphicon-envelope pointer" aria-hidden="true" title="reply"></span>
            <span ng-click="deleteMessage(message)" class="glyphicon glyphicon-trash pointer" aria-hidden="true" title="delete message"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
