<ol class="breadcrumb">
  <li><a href="/#/home">Home</a></li>
  <li><a href="/#/users">Users</a></li>
  <li class="active">{{user.userName}}</li>
</ol>

<div class="panel panel-primary">
  <div class="panel-heading">
    {{user.userName}} (<span ng-show="user.role == 'user'">Registered User</span><span ng-show="user.role == 'moderator'">Board-Moderator</span><span ng-show="user.role == 'admin'">Board-Admin</span>)
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <form ng-submit="submitEditProfile(authUser)">
        <div ng-repeat="validationError in validationErrors" class="alert alert-danger">
          <strong>{{validationError.title}}</strong> <span>{{validationError.error}}</span>
        </div>

        <div ng-repeat="successMessage in successMessages" class="alert alert-success">
          <strong>{{successMessage.title}}</strong> <span>{{successMessage.message}}</span>
        </div>

        <div class="panel panel-default ucp-personal-information">
          <div class="panel-heading">
            Personal information
          </div>
          <div class="panel-body">
            <label ng-show="authUser._id == user._id || user.firstName || isEditMode(authUser)">first name</label>
            <p ng-show="user.firstName && !isEditMode(authUser)">{{user.firstName}}</p>
            <p ng-hide="user.firstName || authUser._id != user._id || isEditMode(authUser)">Please set your first name</p>
            <input type="text" required="true" ng-model="user.firstName" class="form-control input-margin" placeholder="first name" ng-show="isEditMode(authUser)" />

            <label ng-show="authUser._id == user._id || user.lastName || isEditMode(authUser)">last name</label>
            <p ng-show="user.lastName && !isEditMode(authUser)">{{user.lastName}}</p>
            <p ng-hide="user.lastName || authUser._id != user._id || isEditMode(authUser)">Please set your last name</p>
            <input type="text" required="true" ng-model="user.lastName" class="form-control input-margin" placeholder="last name" ng-show="isEditMode(authUser)" />

            <label ng-show="authUser._id == user._id || user.birthday || isEditMode(authUser)">birthday</label>
            <p ng-show="user.birthday && !isEditMode(authUser)">{{user.birthday | date:"MM.dd.yyyy"}}</p>
            <p ng-hide="user.birthday || authUser._id != user._id || isEditMode(authUser)">Please set your birthday</p>
            <input type="date" ng-model="user.birthday" class="form-control input-margin" ng-show="isEditMode(authUser)" />

            <label ng-show="authUser._id == user._id || user.gender || isEditMode(authUser)">gender</label>
            <p ng-show="user.gender && !isEditMode(authUser)">{{user.gender}}</p>
            <p ng-hide="user.gender || authUser._id != user._id || isEditMode(authUser)">Please set your gender</p>
            <select ng-model="user.gender" class="form-control input-margin" ng-show="isEditMode(authUser)">
              <option value="">Please choose...</option>
              <option value="female">Female</option>
              <option value="male">Male</option>
            </select>

            <label ng-show="authUser._id == user._id || user.country || isEditMode(authUser)">country</label>
            <p ng-show="user.country && !isEditMode(authUser)">{{user.country}}</p>
            <p ng-hide="user.country || authUser._id != user._id || isEditMode(authUser)">Please set your country</p>
            <input type="text" ng-model="user.country" class="form-control input-margin" placeholder="country" ng-show="isEditMode(authUser)" />

            <label ng-show="authUser._id == user._id || user.zipCode || isEditMode(authUser)">zip code</label>
            <p ng-show="user.zipCode && !isEditMode(authUser)">{{user.zipCode}}</p>
            <p ng-hide="user.zipCode || authUser._id != user._id || isEditMode(authUser)">Please set your zip code</p>
            <input type="text" ng-model="user.zipCode" class="form-control input-margin" placeholder="zip code" ng-show="isEditMode(authUser)" />

            <label ng-show="authUser._id == user._id || user.city || isEditMode(authUser)">city</label>
            <p ng-show="user.city && !isEditMode(authUser)">{{user.city}}</p>
            <p ng-hide="user.city || authUser._id != user._id || isEditMode(authUser)">Please set your city</p>
            <input type="text" ng-model="user.city" class="form-control input-margin" placeholder="city" ng-show="isEditMode(authUser)" />
          </div>
        </div>

        <div class="panel panel-default ucp-short-information">
          <div class="panel-heading">
            Short information
          </div>
          <div class="panel-body">
            <img class="responsive" title="profilepicture" src="/images/placeholder.png"/>
            <p>Posts: </p>
          </div>
        </div>

        <div ng-show="authUser._id == user._id || user.aboutMe || isEditMode(authUser)" class="panel panel-default">
          <div class="panel-heading">
            About me
          </div>
          <div class="panel-body">
            <p ng-show="user.aboutMe && !isEditMode(authUser)" class="pre-wrap">{{user.aboutMe}}</p>
            <p ng-hide="user.aboutMe || authUser._id != user._id || isEditMode(authUser)">Please write something about you</p>
            <textarea ng-model="user.aboutMe" class="form-control" placeholder="Something about you..." ng-show="isEditMode(authUser)"></textarea>
          </div>
        </div>

        <div class="container-fluid float right" ng-show="authUser.role == 'admin' || authUser._id == user._id">
          <button
            type="button"
            class="btn btn-primary"
            ng-click="toggleEditMode()"
            ng-hide="isEditMode(authUser)"
          ><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;Edit profile</button>
          <button
            type="button"
            class="btn btn-default"
            ng-click="toggleEditMode()"
            ng-show="isEditMode(authUser)"
          >Cancel</button>
          <button
            type="submit"
            class="btn btn-success"
            ng-show="isEditMode(authUser)"
          >Save</button>
        </div>

        <div class="container-fluid float right" ng-show="authUser != null && authUser._id != user._id">
          <button
            type="button"
            class="btn btn-primary"
          ><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;Send message</button>
        </div>
      </form>
    </div>
  </div>
</div>
